#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#user{
    min-width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}
h1{
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
}
p{
    margin: 10px 0;
    text-align: center;
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
button{
    padding: 5px 10px;
    background-color: white;
    border: none;
    border: 1px solid orange;
    transition: 0.2s;
    font-size: 15px;
    text-transform: uppercase;
}

button:hover{
    background-color: orange;
    cursor: pointer;
}

#del{
    border: 1px solid rgb(230, 49, 49);
    color: black;
}

#del:hover{
    background-color: rgb(230, 49, 49);
    color: white;
}